<h3><a href="https://angular.io/guide/i18n#mark-text-for-translations">Mark text for translations</a></h3>
<h1 i18n>I'm a translated app with the name {{title}}</h1>

<p i18n>I'm a translated Text in a template</p>


<p i18n>I18n is a custom attribute, recognized by Angular tools and compilers. After translation, the compiler removes
  it. It
  is not an Angular directive.</p>

<hr>

<h3><a href="https://angular.io/guide/i18n#add-helpful-descriptions-and-meanings">Add helpful descriptions and
    meanings</a></h3>
<h4 i18n="An introduction header for this sample">Add helpful descriptions and meanings as the value of the i18n
  attribute</h4>

<h4 i18n="site header|An introduction header for this sample">Hello i18n!</h4>

<hr>

<h3><a href="https://angular.io/guide/i18n#translate-text-not-for-display">Translate text not for display</a></h3>
<ng-container i18n>I don't output any element</ng-container>

<hr>


<h3><a href="https://angular.io/guide/i18n#mark-element-attributes-for-translations">Mark element attributes for
    translations</a></h3>
<img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" i18n-title title="Angular logo" />

<p i18n-title title="I'm a title" i18n>Text with a title attribute</p>

<hr>

<h3><a href="https://angular.io/guide/i18n#mark-plurals-and-alternates-for-translation">Mark plurals</a></h3>
<span>(LOCALES MAY NOT SUPPORT SOME PLURALIZATION CATEGORIES)</span>

<p i18n>Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}}</p>


<hr>


<h3><a href="https://angular.io/guide/i18n#mark-alternates-and-nested-expressions">Mark alternates and nested
    expressions</a></h3>
<p i18n>The author is {gender, select, male {male} female {female} other {other}}</p>

<p i18n>Updated: {minutes, plural,
  =0 {just now}
  =1 {one minute ago}
  other {{{minutes}} minutes ago by {gender, select, male {male} female {female} other {other}}}}
</p>



<h3><a href="https://angular.io/guide/i18n#manage-marked-text-with-custom-ids">Manage marked text with custom unique
    IDs</a></h3>

<p i18n="@@paragraphInAppTemplate">Hello i18n!</p>
<h4 i18n="An introduction header for this sample@@introductionHeader1">Use a custom ID with a description</h4>
<h4 i18n="site header|An introduction header for this sample@@introductionHeader2">Use a custom ID with a description
  and
  meaning</h4>


<hr>

<h3><a href="https://angular.io/guide/i18n#format-data-based-on-locale">Using Pipes</a></h3>

<p i18n>Today is {{today | date}}</p>

<p i18n>I'm the Number {{decimalNumber | number}}</p>

<p i18n>This APP costs {{price|currency:'EUR':'symbol'}}</p>

<p i18n>Formatted number in script file {{formatedNumber}} and {{formatedNumberWhithDecimalPipe}}</p>

<p i18n>I'm using the PercentPipe {{percentNumber | percent}}</p>


<hr>
<h3><a href="">Routing</a></h3>
<ul>
  <li *ngFor="let route of routes"><a routerLink="/{{route.path}}" routerLinkActive="active"
      class="nav-link nav-text header-nav-el">{{ route.data.title }}</a></li>
</ul>

<div class="route-view">
  <router-outlet></router-outlet>
</div>
