/* You can add global styles to this file, and also import other style files */

body {
  margin: 1rem;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}

h3 {
  text-transform: uppercase;
  color: rgb(0, 128, 202);
}

.route-view {
  padding: 1rem;
  background-color: grey;
}
